body{
    transition: all 1s;
    background-color:#212121;;
    font-family: 'Anonymous Pro', monospace;
}
#mynavdiv{
    display: flex;
    margin:0;
    border:0;
    width: 100vw;
    background-color: #212121;
    /* #272727
    #060724; */
    height:70px;
    top:0;
    position:fixed;
    z-index: 20;
    overflow-y: hidden;
}
#mynavbar{
    display: flex;
    overflow-y: hidden;
    width:20vw;
    border-radius: 2%;
    justify-content:space-between;
    margin-left:7vw;
    transition:all 1s;
    padding-right: 24px;
    height:60px;
    z-index: 20;
}
#mynavbar img{
    width:2.1vw;
    transition:all 1s;

}
#mynavbar img:hover{
    width:2.4vw;
}
 a{
    text-decoration: none;
}
.navItem{
    /* background-color:#6B6B6B; */
    list-style-type: none;
    width:auto;
    text-align: center;
    padding: 6px;
    border-radius:50%;
    transition: all 0.5s;
    font-family: Arial, Helvetica, sans-serif;
}
.navItem:hover{
    padding: 7px;
}

#mybox{
position:absolute;
height:0;
width:0;
margin-top:10px;
right:10vw;
transition-property: all;
transition-timing-function: ease-in-out;
transition-duration:0.5s;
border-radius: 50%;
}

#mybox:hover{
background-color: aqua;
/* transform: translate(200px,200px) scale(1.5); */
transform: scale(1.5);
transform:rotate(360deg)
}

.myspinner{
border-radius: 50%;
width:0.1vw;
height:0.7vw;
border-top:14px solid #BFBFBF;
border-right:14px solid #3d3d3d;
border-bottom:14px solid #BFBFBF;
border-left:14px solid #3d3d3d;
margin-top:30px;
animation: 4s linear 1s infinite myspinner;
transform:rotate(360deg) ;
}

.row{
width:70px;
height:7px;
color:#0008eb;
background-color: #0008eb;
border:0;
}
.row1:hover{
transform:rotate(45deg);
}
.row2:hover{
transform:rotate(135deg);
}
.row3:hover{
display:none;
}


@keyframes myspinner {
0%{
    transform:rotate(0deg)
}

100%{
    -o-transform: rotate(360deg);
}
}


#footerDiv{
    width:100vw;
    background-color:#212121;
    margin-top:8vh;
    text-align: center;
    letter-spacing: 0.5px;
    color:#BFBFBF;
    display: flex;
    flex-direction: column;
    margin-bottom:1vw;
}
#footer{
    transition: all 1s;
    display: flex;
    height:50px;
    padding: 4px 0;
    width:18vw;
    border-radius: 2%;
    justify-content:space-between;
    list-style-type: none;
    z-index: 30;
   margin: auto;
}
.footernavItem img, .whiteMail{
    width:30px;
    width:2.1vw;
    text-align: center;
    border-radius:12px;
    transition: all 1s;
    padding:3px;
}

.footernavItem img:hover{
    width:2.4vw;
    color:#060724;
    font-weight: bold;
}
#contacts{
    font-size: 2vw;
}
#rightTop{
    display: flex;
    background-color: #0008eb;
}
#footerDiv p{
    font-size:1.5vw;
    margin-top:0;
}
#bottomOptions{
    display: flex;
    flex-direction: column;
}
.call img{
    width:1.4vw;
    margin-right:0.5vw;
}
#footer .mail{
 color:#ffffff;
}
.call{
    font-size:1.4vw;
    color:#BFBFBF;
    margin-bottom: 0.7vw;
    letter-spacing: 1vw;
}

@media screen and (max-width: 600px) {
    .call img{
        width:2.4vw;
        margin-right:0.5vw;
    }
    #footer .mail{
     color:#ffffff;
    }
    .call{
        font-size:3.3vw;
        color:#BFBFBF;
        margin-bottom: 0.7vw;
        letter-spacing: 1vw;
        margin-top:-3vw;
    }
    #footerDiv p{
        font-size:3.2vw;
        margin-top:1vw;
    }
    #contacts{
        font-size: 3.8vw;
    }
    .footernavItem img, .whiteMail{
        width:30px;
        width:4.7vw;
        text-align: center;
        border-radius:12px;
        transition: all 1s;
        padding:3px;
    }
    
    .footernavItem img:hover{
        width:4.7vw;
        color:#060724;
        font-weight: bold;
    }
    #footer{
        transition: all 1s;
        display: flex;
        height:50px;
        padding: 4px 0;
        width:31vw;
        border-radius: 2%;
        justify-content:space-between;
        list-style-type: none;
        z-index: 30;
       margin: auto;
       margin-bottom:0;
    }

    #mynavdiv{
        display: flex;
        margin:0;
        border:0;
        width: 100vw;
        background-color: #212121;
        /* #272727
        #060724; */
        height:70px;
        top:0;
        position:fixed;
        z-index: 20;
        overflow-y: hidden;
    }
    #mynavbar{
        display: flex;
        overflow-y: hidden;
        width:40vw;
        border-radius: 2%;
        justify-content:space-between;
        margin-left:7vw;
        transition:all 1s;
        padding-right: 24px;
        height:60px;
        z-index: 20;
    }
    #mynavbar img{
        width:5.1vw;
        transition:all 1s;
    
    }
    #mynavbar img:hover{
        width:5.4vw;
    }
}